<h1>Acerca de Caffé Quimera</h1>

<!--Texto acerca de nosotros-->

<p class="textAbout">Con casi 200 años en el mercado, <b>Caffé Quimera</b> ha logrado posicionarse
    como una de las marcas y cafeterías más respetables de México y del mundo, teniendo sucursales en más de 8 ciudades
    del territorio nacional y otras 6 en países como Brasil, Argentina, Uruguay, España, Francia y Alemania. 
    Nuestros productos se han posicionado como los más deliciosos y accesibles para toda familia,
    ello de acuerdo a la revista gastronómica internacional <i>Delicacies of the world</i>,
    la cual rankeó nuestro toque culinario como uno de los mejores entre los años de 2017 a 2022. Grandes marcas internacionales
    del rubro gastronómico han competido contra nuestros productos, sin embargo, nuestro toque original, y 100% mexicano, nos
    ha permitido seguir a la cabeza del mercado, pero sobre todo, en las mesas y en los corazones de las familias mexicanas y del mundo.
</p>

<!--Card bootstrap-->

<div class="card mb-3">
  <img class="card-img-top" src="https://1.bp.blogspot.com/-ZPx9ULIj7p4/Xe94FQHDEWI/AAAAAAAAX0Y/LWpwOgCVWekvQ7m6n2NHzg-_7YOh9fKuwCLcBGAsYHQ/s1600/storia-del-caffe.jpg" alt="Card Coffe">
  <div class="card-body">
    <h5 class="card-title">Historia en cada sorbo</h5>
    <p class="card-text">
    Pero, <i>¿cómo surgió todo esto?</i> 
    <br><br>
    El tradicional <b>Caffé Quimera</b> tiene una curiosa historia que se remonta a inicios del México independiente en Michoacán (1824).
    La historia cuenta que, siendo Primer Ministro de México en Inglaterra José Mariano Michelena, viajó a Tierra Santa, 
    visitando varios lugares, entre ellos la ciudad portuaria de Moca (Al-Mukhā), Yemen, lugar donde consiguió unas matas de café.
    Tras su regreso a México, ordenó que estas fueran plantadas en la Hacienda de la Parota, cercana a Taretan, Michoacán. 
    Las plantas se adaptaron tan bien que rápidamente se convirtieron en maleza por todo el lugar.
    
    <br><br>

    Afirmó el historiador michoacano del siglo XIX, <a href="https://m.facebook.com/story.php?story_fbid=pfbid02CfCtus2sW9TZdxaPAWdqKHfqRnyiVimD6ZBws9MGaJT5W5uJspnGLWYTknte8nrgl&id=101359572281606" target= "_black">Eduardo Ruiz</a>, que la gente ignoraba el valor del café, por lo cual no se comercializaba,
    sino que solamente se usaba como planta de adorno de balcones y jardines, puesto que los arbustos eran muy bonitos. 
    Así se transportó por Tacámbaro, Taretan, Los Reyes y Colima. Sin embargo, el café llegó a Uruapan en 1828, introducido 
    por el señor Manuel Farías, quien lo plantó en la 2da calle de Santiago, cerca del hoy Parque Nacional Barranca del 
    Cupatitzio.

    <br><br>

    Fue aproximadamente en agosto de 1828 que el joven Lino Magaña comenzó a cutivar las plantas en el jardín de su casa, sirviendo
    de adorno, hasta que se dio cuenta del gran sabor de aquellos granos. Comenzó vendiendo su producto en Uruapan hasta su muerte,
    ocurrida en 1861. El negocio pasó a manos de su hijo Epifanio Magaña Bran, quien siguió la venta del café hasta la llegada de los franceses
    en Michoacán en 1863. Durante esas fechas Epifanio conoció a un soldado fránces llamado Bernard Petheilh-Girard, desertor de las fuerzas de ocupación.
    Juntos comenzaron a comercializar, después de acabada la guerra en 1867, el café, expandiendo sus productos gracias al conocimiento en repostería
    francesa de Bernard.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">De Uruapan para el mundo</h5>
    <p class="card-text">Fue a partir de 1956 que <b>Caffé de Uruapan</b> cambió su nombre a <b>Caffé Quimera</b> bajo
    un nuevo concepto comercial. Así comenzó a expandir su mercado en otras ciudades de México. Fue a inicios del siglo XXI
    que Sandra López y Samuel Magaña, actuales dueños, ampliaron las sucursales por diferentes capitales del mundo, teniendo
    un éxito rotundo con las recetes de cafés y postres que les heredaron sus ancestros.</p>
  </div>
<iframe height="315" src="https://www.youtube.com/embed/hMuNMoRCNG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Old photografies -->

<div class="card-deck">
  <div class="card">
    <img class="card-img-top2" src="https://mediateca.inah.gob.mx/repositorio/islandora/object/fotografia:391189/datastream/TN/view" alt="Uruapan, century XIX">
    <div class="card-body">
      <h5 class="card-title">Lino Magaña</h5>
      <p class="card-text">Oriundo de Uruapan, Michoacán, se dedicó casi toda su vida al trabajo de la 
        tierra. Comenzó vendiendo café en la puerta de su casa. Tras su muerte, su hijo Epifanio
        continuó con el negocio, fundando el <b>Caffé de Uruapan</b>, del cual nacería <b>Caffé Quimera</b>.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top2" src="https://www.mexicoenfotos.com/MX14121817923289.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Uruapan, 1898</h5>
      <p class="card-text">Fotografía de finales del siglo XIX, con vista al portal Eduardo Ruiz, donde se estableció nuestra primera sucursal.
        Entre los árboles de aguacate y cultivos de café que crecen bajo los rayos de sol en el Estado de Michoacán, Uruapan reafirma el significado 
        de su nombre, “Lugar de la abundancia de flor y fruto”, asumiéndose como la mayor productora de este delicioso fruto. Uruapan mantiene ese aire 
        de pueblito típico que invita a caminar entre sus calles rodeadas de bellezas naturales gozando del clima templado que la abraza todos los días
        mientras admiras cómo algunos de sus habitantes portan orgullosos sus trajes típicos.

        <br><br>

       ¡Ven y conoce Michoacán! <br><br>
       ¡Ven y conoce Uruapan, con una rica taza de <b>Caffé Quimera</b>!

      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top2" src="images/peteilh.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bernard Petheilh-Girard</h5>
      <p class="card-text">Nació en la población de Trébons, Altos Pirineos, Francia. Desertó del Ejército Fránces en
        enero de 1867, cuando las tropas francesas abandonaban el territorio nacional. Volvió a Uruapan y se asoció 
        con el señor Epifanio Magaña, fundando la primera cafetería franco-mexicana de la región. Sus dotes como repostero
        hicieron prosperar el negocio. Sus descendientes viven en Ensenada, Baja California, y quienes hasta hoy en día siguen
        asociados con la familia Magaña en <b>Caffé Quimera</b>.</p>
    </div>
  </div>
</div>