<h1>Mapas de nuestras sucursales</i></h1>

<br><br>

<!-- City map: Uruapan, Michoacán -->

<div class="petCard">
<div class="card" style="width: 40rem;">
  <img class="spainImg" src="https://images.adsttc.com/media/images/5dc2/4e86/3312/fdcc/f400/003c/newsletter/DSC08301.jpg?1573015151" alt="Pet Friendly Caffe Tokio">
  <div class="spain">
    <h1 class="titleBranch">Caffé Quimera - Barcelona</h1>
<p class="descriptionText">Ubicados cerca de la <b>Sagrada Familia</b>, <b>Caffé Quimera - Barcelona</b> se estableció
en la ciudad en el año 2017, bajo el concepto de <i>cafebrería</i>. Contamos con un catálogo de más de 20 mil libros de 
diferentes editoriales mexicanas como del mundo. Nuestro objetivo ha sido siempre llevar a cada mesa y rincón 
nuestro particular sabor de <b>Uruapan</b>, pero con ello nuestra historia y nuestra cultura.

<br><br>

¡Ven, lee, conoce y disfruta del rico sabor <b>Caffé Quimera - Barcelona</b>!

</p>
  </div>
</div>
</div>

<div class="map-container1">
    <div id="map1"></div>
    <pre id='coordenadas1'></pre>
</div>

<!-- City map: Berlin, Germany -->

<div class="petCard">
<div class="card" style="width: 40rem;">
  <img class="berlinImg" src="https://pbs.twimg.com/media/EUrECo_U8AALpQb.jpg" alt="Brandeburg coffe">
  <div class="berlin">
    <h1 class="titleBranch">Caffé Quimera - Puerta de Brandeburgo</h1>
<p class="descriptionText">Cerca de uno de los monumentos más importantes de Alemania, <b>Caffé Quimera - Puerta de Brandeburgo</b>
abrió sus puertas en el año 2018, bajo el concepto de <i>café al aire libre</i>.</p>
  </div>
</div>
</div>

<div class="map-container2">
    <div id="map2"></div>
    <pre id='coordenadas2'></pre>
</div>

<!-- City map: Tokio, Japan -->

<div class="petCard">
<div class="card" style="width: 40rem;">
  <img class="tokioImg" src="https://storage.travelog.com/58356/conversions/fit.jpg" alt="Pet Friendly Caffe Tokio">
  <div class="tokio">
    <h1 class="titleBranch">Caffé Quimera - Tokyo DisneySea</h1>
<p class="descriptionText">Con una bienvenida a un mundo donde reinan la emoción y la aventura.
    Tokyo DisneySea se dedica a la exploración del ser que se encuentra 
    dentro de cada uno de nosotros. Aquí planeamos un curso para la aventura,
    el romance, el descubrimiento y la diversión del viaje a puertos exóticos
    e imaginarios. Tokyo DisneySea inspira los corazones y las mentes de todos
    nosotros que comparten el planeta del agua, la Tierra.

    <br><br>
    
    ¡Ven, aventúrate y disfruta del rico sabor <b>Caffé Quimera - Tokyo DisneySea</b>!

    </p>
  </div>
</div>
</div>

<div class="map-container3">
    <div id="map3"></div>
    <pre id='coordenadas3'></pre>
</div>