
<div class="container">
<div class="form-order-drink">
  <h3 class="card-title title-order">Registra tu orden</h3>
  <div class="card order-drink">
  <div class="card-body">

<!--POST, to send data to the request body-->
<form action="/send-orders" method="post">
{{#each drinks}}
    <div class="row my-3 border">
    
        <div class="col drink-card">
            <h4>{{name}}</h4>
            <img src={{url}} class="card-img-top max-img" alt="...">
            
        </div>
     
        <div class="col select-quantity">
            <label for="customRange1" class="form-label">Cantidad</label>
            <input class="quantity" id="quantity" type="number" value="1" min="1" max="5" name="cantidad" onchange="calculateAll()"/>
            <div class="price"><p>Precio: $<span>{{price}}</span></p></div>
            <div class="subtotal"><p>Subtotal: $<span>20</span></p></div>
        </div>
          
    </div>
    {{/each}}
    <div class="total">
        <h2>Total: $0.00</h2>
    </div>
        <button class="btn" type="submit">Enviar Orden</button>
        
    </form>
    
  </div>
</div>
</div>

</div>


<script>
  function updateSubtotal(product) {
    const price = product.querySelector('.price span');
    const quantity = product.querySelector('.quantity');
    let subtotal = price.innerHTML * quantity.value;
    product.querySelector('.subtotal span').innerHTML = subtotal;
    return subtotal;
  }

  function calculateAll() {
    let total = 0;
    const products = document.getElementsByClassName('border');
    for (let i = 0; i < products.length; i++) {

      total += updateSubtotal(products[i]);
    }
    document.querySelector('.total h2').innerHTML = `Total: $${total}.00`;
  }

  calculateAll()
  //const quantities = document.getElementsByClassName('quantity')
  //for(let i = 0; i <quantities.length; i++){
  //  console.log("cantidades", quantities[i])
  //  quantities[i].addEventListener("change", () => calculateAll())
  //}
  
</script>