
<div class="container">
<div class="form-order-drink">
  <h3 class="card-title title-order">Registra tu orden</h3>
  <div class="card order-drink">
  <div class="card-body">

<!--POST, to send data to the request body-->
<form action="/order" method="post">
{{#each orders}}
    <div class="row my-3 border">
    
        <div class="col drink-card">
            <h4>{{name}}</h4>
            <img src={{url}} class="card-img-top max-img" alt="...">
            
        </div>
     
        <div class="col select-cant">
            <label for="customRange1" class="form-label">Cantidad</label>
            <input class="cant" type="number" value="0" min="0" max="5" name="cantidad"/>
            <div class="price"><p>Precio: $<span>{{price}}</span></p></div>
        </div>
        
        <!-- cheboxes to choose types-->
        <div class="col radios">
            <h5>Tipo de leche:</h5>
            <br>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                <span class="checkmark"></span>
              <label class="form-check-label" for="flexRadioDefault">
                Almendras
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                <span class="checkmark"></span>
              <label class="form-check-label" for="flexRadioDefault">
                Soya
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                <span class="checkmark"></span>
              <label class="form-check-label" for="flexRadioDefault">
                Avena
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault">
                <span class="checkmark"></span>
              <label class="form-check-label" for="flexRadioDefault">
                Coco
              </label>
            </div>
        </div>
        <div class="col checkboxes">
            <h5>Jarabe:</h5>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="agua" name="agua">
                <label class="form-check-label" for="agua">
                    Maple
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="alcohol" name="alcohol">
                <label class="form-check-label" for="alcohol">
                    Vainilla
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="azucar" name="azucar">
                <label class="form-check-label" for="azucar">
                    Amaretto
                </label>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="cebada" name="cebada">
                <label class="form-check-label" for="cebada">
                    Crema Irlandesa
                </label>
            </div>
            <div class="addons"><p>Adicionales: $5.00</p></div>
        </div>
        <!-- end of checkboxes-->
    
    </div>
    {{/each}}
    <div class="total">
        <h2>Total: $0.00</h2>
    </div>
        <button class="btn" type="submit">Enviar Orden</button>
        
    </form>
    
  </div>
</div>
</div>

</div>


<script>
  function updateSubtotal(product) {
  //alert('Calculating subtotal, yey!');
  const price = product.querySelector('.price span');
  const quantity = product.querySelector('.quantity input');
  let subtotal = price.innerHTML * quantity.value;
  product.querySelector('.subtotal span').innerHTML = subtotal;
  return subtotal;
  //... your code goes here
}
function calculateAll() {
  let total = 0;
  const products = document.getElementsByClassName('border');
  for (let i = 0; i < products.length; i++) {

    total += updateSubtotal(products[i]);
  }
  document.querySelector('.total h2').innerHTML = `Total: ${total}`;
}
</script>