/* City map: Uruapan, Michoacan, Mexico */

#map1{
    width: 850px;
    height: 450px;
}

.map-container1{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.marker1{
    background-image: url(/images/alpaquita.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.marker2{
    background-image: url(/images/alpaquita.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.marker3{
    background-image: url(/images/alpaquita.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.titleBranch{
    font-size: 50px;
}

.descriptionText{
    margin: 10%;
}

/* City map: Berlin, Germany */

#map2{
    width: 850px;
    height: 450px;
}

.map-container2{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

/* City map: Tokio, Japan */

#map3{
    width: 850px;
    height: 450px;
}

.map-container3{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.petCard{
    display: flex;
    justify-content: center;
    text-align: justify;
}

/*  CC maps */

#coordenadas1 {     
    position: absolute;
    margin: 0px auto;
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    color: #000;
    background: whitesmoke;
}

#coordenadas2 {     
    position: absolute;
    margin: 0px auto;
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    color: #000;
    background: whitesmoke;
}

#coordenadas3 {     
    position: absolute;
    margin: 0px auto;
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    color: #000;
    background: whitesmoke;
}