:root {
    --orange: #BA5809;
    --gray: #C7C9C6;
    --green: #9FA194;
    --brown: #582719;
    --red: #76232F;
    --black: #15100A;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: var(--red);
    margin-top: 50px;
}
h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 60px;
    color: var(--red);

}
h5{
    color:var(--black);
    font-weight: 600;
}

/*Carousel style*/
.carousel-item{
    max-height: 75vh;
}

/*------------------Navbar properties-------------------*/
.navbar{
    background-color: white;
    padding-right: 3rem;
}
.nav-item{
    padding-left: 2em;
} 
.navbar a{
    color: var(--black);
    font-size: 1.2em;
    border-bottom: 3px solid transparent;
    transition:0.5s;
}

.navbar a:hover {
  border-bottom: 3px solid var(--black);
  transform:scale(1.2);
}

.navbar a.active {
  border-bottom: 3px solid var(--black);
}
.navbar .cart-link:hover {
  border-bottom: none;
}
.dropdown-menu{
    border: none;
}
.alpaquita{
    height: 35px;
}
.btn-cart{
    background: none;
    border: none;
}
.cart {
    display:flex;
    align-items: center;
}
.fa-cart-shopping{
    color: rgb(8, 8, 8);
}

/* slogan */

.slogan{
    margin: 60px;
    text-align: center;
}

/* About us: images, text, video, cards  */

.textAbout{
    margin: 350px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoIndex{
    display: flex;
    justify-content: center;
}

.texts{
    margin: 20%;
    margin-top: 50px;
}

.text-history{
    text-align: justify;
}

.card-deck{
    margin: 10%;
    margin-top: -17%;
}

/* Footer */
.imgFooter{
    width: 150px;
    height: 120px;
}
/*--------------Product views--------------------*/
.edge {
    border: 1px solid var(--black);
    border-radius: 20px;
    padding: 1rem;
    background-color: white;
    margin: 1rem auto;
}
.edge-padding{
    padding: 0;
}
.product-edge{
    margin-bottom: 1em;
    padding: 2em 1em;
    /*border: 2px dotted var(--brown);
    border-radius: 20px;
    border-top: 2px groove var(--brown);
    border-bottom: 4px ridge var(--brown);*/
    min-height: 33em;
}
.product-edge p{
    font-size: 1rem;
}
.product-edge img{
    max-height: 180px;
    max-width: 230px;
}
.product-edge i{
    padding-left: 0.5rem;
    color: white;
}
/*-------Orders views----*/
.sent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sent img{
    max-width: 20rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}